<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hong_world.homemodle">

    <application
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".HomeActivity"></activity>
        <activity android:name=".view.MainActivity"></activity>
        <activity android:name=".view.MyWebActivity"></activity>
    </application>

</manifest>